In [27]:
#Impoprting Libraries

import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot

from pandas import read_csv, set_option
from pandas.plotting import scatter_matrix

In [28]:
#Load csv files with pandas

fraud_data = read_csv("F:\creditcard.csv")

In [29]:
fraud_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.36,-0.07,2.54,1.38,-0.34,0.46,0.24,0.10,0.36,...,-1.83e-02,2.78e-01,-0.11,6.69e-02,0.13,-0.19,1.34e-01,-0.02,149.62,0
1,0.0,1.19,0.27,0.17,0.45,0.06,-0.08,-0.08,0.09,-0.26,...,-2.26e-01,-6.39e-01,0.10,-3.40e-01,0.17,0.13,-8.98e-03,0.01,2.69,0
2,1.0,-1.36,-1.34,1.77,0.38,-0.50,1.80,0.79,0.25,-1.51,...,2.48e-01,7.72e-01,0.91,-6.89e-01,-0.33,-0.14,-5.54e-02,-0.06,378.66,0
3,1.0,-0.97,-0.19,1.79,-0.86,-0.01,1.25,0.24,0.38,-1.39,...,-1.08e-01,5.27e-03,-0.19,-1.18e+00,0.65,-0.22,6.27e-02,0.06,123.50,0
4,2.0,-1.16,0.88,1.55,0.40,-0.41,0.10,0.59,-0.27,0.82,...,-9.43e-03,7.98e-01,-0.14,1.41e-01,-0.21,0.50,2.19e-01,0.22,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.88,10.07,-9.83,-2.07,-5.36,-2.61,-4.92,7.31,1.91,...,2.13e-01,1.12e-01,1.01,-5.09e-01,1.44,0.25,9.44e-01,0.82,0.77,0
284803,172787.0,-0.73,-0.06,2.04,-0.74,0.87,1.06,0.02,0.29,0.58,...,2.14e-01,9.24e-01,0.01,-1.02e+00,-0.61,-0.40,6.85e-02,-0.05,24.79,0
284804,172788.0,1.92,-0.30,-3.25,-0.56,2.63,3.03,-0.30,0.71,0.43,...,2.32e-01,5.78e-01,-0.04,6.40e-01,0.27,-0.09,4.45e-03,-0.03,67.88,0
284805,172788.0,-0.24,0.53,0.70,0.69,-0.38,0.62,-0.69,0.68,0.39,...,2.65e-01,8.00e-01,-0.16,1.23e-01,-0.57,0.55,1.09e-01,0.10,10.00,0
284806,172792.0,-0.53,-0.19,0.70,-0.51,-0.01,-0.65,1.58,-0.41,0.49,...,2.61e-01,6.43e-01,0.38,8.80e-03,-0.47,-0.82,-2.42e-03,0.01,217.00,0

In [30]:
fraud_data.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.36,-0.07,2.54,1.38,-0.34,0.46,2.40e-01,0.10,0.36,...,-1.83e-02,2.78e-01,-0.11,0.07,0.13,-0.19,1.34e-01,-2.11e-02,149.62,0
1,0.0,1.19,0.27,0.17,0.45,0.06,-0.08,-7.88e-02,0.09,-0.26,...,-2.26e-01,-6.39e-01,0.10,-0.34,0.17,0.13,-8.98e-03,1.47e-02,2.69,0
2,1.0,-1.36,-1.34,1.77,0.38,-0.50,1.80,7.91e-01,0.25,-1.51,...,2.48e-01,7.72e-01,0.91,-0.69,-0.33,-0.14,-5.54e-02,-5.98e-02,378.66,0
3,1.0,-0.97,-0.19,1.79,-0.86,-0.01,1.25,2.38e-01,0.38,-1.39,...,-1.08e-01,5.27e-03,-0.19,-1.18,0.65,-0.22,6.27e-02,6.15e-02,123.50,0
4,2.0,-1.16,0.88,1.55,0.40,-0.41,0.10,5.93e-01,-0.27,0.82,...,-9.43e-03,7.98e-01,-0.14,0.14,-0.21,0.50,2.19e-01,2.15e-01,69.99,0
5,2.0,-0.43,0.96,1.14,-0.17,0.42,-0.03,4.76e-01,0.26,-0.57,...,-2.08e-01,-5.60e-01,-0.03,-0.37,-0.23,0.11,2.54e-01,8.11e-02,3.67,0
6,4.0,1.23,0.14,0.05,1.20,0.19,0.27,-5.16e-03,0.08,0.46,...,-1.68e-01,-2.71e-01,-0.15,-0.78,0.75,-0.26,3.45e-02,5.17e-03,4.99,0
7,7.0,-0.64,1.42,1.07,-0.49,0.95,0.43,1.12e+00,-3.81,0.62,...,1.94e+00,-1.02e+00,0.06,-0.65,-0.42,-0.05,-1.21e+00,-1.09e+00,40.80,0
8,7.0,-0.89,0.29,-0.11,-0.27,2.67,3.72,3.70e-01,0.85,-0.39,...,-7.34e-02,-2.68e-01,-0.20,1.01,0.37,-0.38,1.17e-02,1.42e-01,93.20,0
9,9.0,-0.34,1.12,1.04,-0.22,0.50,-0.25,6.52e-01,0.07,-0.74,...,-2.47e-01,-6.34e-01,-0.12,-0.39,-0.07,0.09,2.46e-01,8.31e-02,3.68,0

In [31]:
fraud_data.tail(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284797,172782.0,-0.24,7.12e-01,0.40,-0.46,2.45e-01,-1.34,0.93,-0.21,0.11,...,-0.23,-0.51,0.28,3.71e-01,-0.56,0.11,1.32e-01,0.08,5.49,0
284798,172782.0,0.22,8.81e-01,-0.64,0.96,-1.53e-01,-1.01,0.43,0.12,-0.29,...,0.10,0.34,0.25,5.77e-02,-1.51,0.14,1.81e-01,0.22,24.05,0
284799,172783.0,-1.78,-4.24e-03,1.19,0.33,1.20e+00,5.52,-1.52,2.08,1.16,...,0.10,0.65,-0.35,7.45e-01,0.70,-0.13,4.54e-01,0.13,79.99,0
284800,172784.0,2.04,-1.75e-01,-1.20,0.23,-8.71e-03,-0.73,0.02,-0.12,0.44,...,-0.27,-0.72,0.30,-3.60e-01,-0.32,0.20,-8.08e-02,-0.08,2.68,0
284801,172785.0,0.12,9.31e-01,-0.55,-0.75,1.13e+00,-0.24,0.81,0.12,-0.20,...,-0.31,-0.81,0.05,1.03e-01,-0.44,0.12,2.18e-01,0.07,2.69,0
284802,172786.0,-11.88,1.01e+01,-9.83,-2.07,-5.36e+00,-2.61,-4.92,7.31,1.91,...,0.21,0.11,1.01,-5.09e-01,1.44,0.25,9.44e-01,0.82,0.77,0
284803,172787.0,-0.73,-5.51e-02,2.04,-0.74,8.68e-01,1.06,0.02,0.29,0.58,...,0.21,0.92,0.01,-1.02e+00,-0.61,-0.40,6.85e-02,-0.05,24.79,0
284804,172788.0,1.92,-3.01e-01,-3.25,-0.56,2.63e+00,3.03,-0.30,0.71,0.43,...,0.23,0.58,-0.04,6.40e-01,0.27,-0.09,4.45e-03,-0.03,67.88,0
284805,172788.0,-0.24,5.30e-01,0.70,0.69,-3.78e-01,0.62,-0.69,0.68,0.39,...,0.27,0.80,-0.16,1.23e-01,-0.57,0.55,1.09e-01,0.10,10.00,0
284806,172792.0,-0.53,-1.90e-01,0.70,-0.51,-1.25e-02,-0.65,1.58,-0.41,0.49,...,0.26,0.64,0.38,8.80e-03,-0.47,-0.82,-2.42e-03,0.01,217.00,0

In [32]:
#The Data Types of the attributes

fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [33]:
#Dimension of the data

fraud_data.shape

(284807, 31)

In [34]:
#Count of Null Values

fraud_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [35]:
#Analysis of data
set_option('precision', 2)
fraud_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.00,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,...,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,2.85e+05,284807.00,2.85e+05
mean,94813.86,3.92e-15,5.68e-16,-8.76e-15,2.81e-15,-1.55e-15,2.04e-15,-1.70e-15,-1.89e-16,-3.15e-15,...,1.47e-16,8.04e-16,5.28e-16,4.46e-15,1.43e-15,1.70e-15,-3.66e-16,-1.22e-16,88.35,1.73e-03
std,47488.15,1.96e+00,1.65e+00,1.52e+00,1.42e+00,1.38e+00,1.33e+00,1.24e+00,1.19e+00,1.10e+00,...,7.35e-01,7.26e-01,6.24e-01,6.06e-01,5.21e-01,4.82e-01,4.04e-01,3.30e-01,250.12,4.15e-02
min,0.00,-5.64e+01,-7.27e+01,-4.83e+01,-5.68e+00,-1.14e+02,-2.62e+01,-4.36e+01,-7.32e+01,-1.34e+01,...,-3.48e+01,-1.09e+01,-4.48e+01,-2.84e+00,-1.03e+01,-2.60e+00,-2.26e+01,-1.54e+01,0.00,0.00e+00
25%,54201.50,-9.20e-01,-5.99e-01,-8.90e-01,-8.49e-01,-6.92e-01,-7.68e-01,-5.54e-01,-2.09e-01,-6.43e-01,...,-2.28e-01,-5.42e-01,-1.62e-01,-3.55e-01,-3.17e-01,-3.27e-01,-7.08e-02,-5.30e-02,5.60,0.00e+00
50%,84692.00,1.81e-02,6.55e-02,1.80e-01,-1.98e-02,-5.43e-02,-2.74e-01,4.01e-02,2.24e-02,-5.14e-02,...,-2.95e-02,6.78e-03,-1.12e-02,4.10e-02,1.66e-02,-5.21e-02,1.34e-03,1.12e-02,22.00,0.00e+00
75%,139320.50,1.32e+00,8.04e-01,1.03e+00,7.43e-01,6.12e-01,3.99e-01,5.70e-01,3.27e-01,5.97e-01,...,1.86e-01,5.29e-01,1.48e-01,4.40e-01,3.51e-01,2.41e-01,9.10e-02,7.83e-02,77.16,0.00e+00
max,172792.00,2.45e+00,2.21e+01,9.38e+00,1.69e+01,3.48e+01,7.33e+01,1.21e+02,2.00e+01,1.56e+01,...,2.72e+01,1.05e+01,2.25e+01,4.58e+00,7.52e+00,3.52e+00,3.16e+01,3.38e+01,25691.16,1.00e+00

In [36]:
#Fraud vs Non-Fraud

class_names = {0:'Not Fraud', 1:'Fraud'}
print(fraud_data.Class.value_counts().rename(index = class_names))

Not Fraud    284315
Fraud           492
Name: Class, dtype: int64

In [37]:
#Train Test Split

from sklearn.model_selection import train_test_split
y= fraud_data["Class"]
X = fraud_data.loc[:, fraud_data.columns != 'Class']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1/3,random_state=42, stratify=y)

In [38]:
#Logistic Regression
#Import Library for Accuracy Score
from sklearn.metrics import accuracy_score

#Import Library for Logistic Regression
from sklearn.linear_model import LogisticRegression

#Initialize the Logistic Regression Classifier
logisreg = LogisticRegression()

#Train the model using Training Dataset
logisreg.fit(X_train, y_train)

# Prediction using test data
y_pred = logisreg.predict(X_test)

# Calculate Model accuracy by comparing y_test and y_pred
acc_logisreg = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of Logistic Regression model : ', acc_logisreg )

Accuracy of Logistic Regression model :  99.9

In [39]:
#Linear Discriminant Analysis
#Import Library for Linear Discriminant Analysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

#Initialize the LDA Classifier
model = LinearDiscriminantAnalysis()

#Train the model using Training Dataset
model.fit(X_train, y_train)

# Prediction using test data
y_pred = model.predict(X_test)

# Calculate Model accuracy by comparing y_test and y_pred
acc_lda = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of Linear Discriminant Analysis Classifier: ', acc_lda )

Accuracy of Linear Discriminant Analysis Classifier:  99.93

In [40]:
#Gaussian Naive Bayes
#Import Library for Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB

#Initialize the Gaussian Naive Bayes Classifier
model = GaussianNB()

#Train the model using Training Dataset
model.fit(X_train, y_train)

# Prediction using test data
y_pred = model.predict(X_test)

# Calculate Model accuracy by comparing y_test and y_pred
acc_ganb = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of Gaussian Naive Bayes : ', acc_ganb )

Accuracy of Gaussian Naive Bayes :  99.28

In [41]:
#Decision Tree
#Import Library for Decision Tree
from sklearn.tree import DecisionTreeClassifier

#Initialize the Decision Tree Classifier
model = DecisionTreeClassifier()

#Train the model using Training Dataset
model.fit(X_train, y_train)

# Prediction using test data
y_pred = model.predict(X_test)

# Calculate Model accuracy by comparing y_test and y_pred
acc_dtree = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of  Decision Tree Classifier : ', acc_dtree)

Accuracy of  Decision Tree Classifier :  99.91

In [42]:
#Random Forest
#Import Library for Random Forest
from sklearn.ensemble import RandomForestClassifier

In [43]:
#Initialize the Random Forest
model = RandomForestClassifier()

In [44]:
#Train the model using Training Dataset
model.fit(X_train, y_train)

RandomForestClassifier()

In [45]:
# Prediction using test data
y_pred = model.predict(X_test)

In [46]:
# Calculate Model accuracy by comparing y_test and y_pred
acc_rf = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of  Random Forest : ', acc_rf)

Accuracy of  Random Forest :  99.95

In [47]:
#Support Vector Machine Model
#Import Library for Support Vector Machine Model
from sklearn import svm

#Initialize the Support Vector Classifier
model = svm.SVC()

#Train the model using Training Dataset
model.fit(X_train, y_train)

# Prediction using test data
y_pred = model.predict(X_test)

# Calculate Model accuracy by comparing y_test and y_pred
acc_svc = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of  Support Vector Classifier: ', acc_svc)

Accuracy of  Support Vector Classifier:  99.83

In [48]:
#K Nearest Neighbour Model
#Import Library for K Nearest Neighbour Model
from sklearn.neighbors import KNeighborsClassifier

#Initialize the K Nearest Neighbour Model with Default Value of K=5
model = KNeighborsClassifier()

#Train the model using Training Dataset
model.fit(X_train, y_train)

# Prediction using test data
y_pred = model.predict(X_test)

# Calculate Model accuracy by comparing y_test and y_pred
acc_knn = round( accuracy_score(y_test, y_pred) * 100, 2 )
print( 'Accuracy of  KNN Classifier: ', acc_knn)

Accuracy of  KNN Classifier:  99.83

In [49]:
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'Linear Discriminant Analysis','Naive Bayes', 'Decision Tree', 'Random Forest', 'Support Vector Machines', 
              'K - Nearest Neighbors'],
    'Score': [acc_logisreg, acc_lda, acc_ganb, acc_dtree, acc_rf, acc_svc, acc_knn]})

models.sort_values(by='Score', ascending=False)

                          Model  Score
4                 Random Forest  99.95
1  Linear Discriminant Analysis  99.93
3                 Decision Tree  99.91
0           Logistic Regression  99.90
5       Support Vector Machines  99.83
6         K - Nearest Neighbors  99.83
2                   Naive Bayes  99.28

In [50]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[94767,     5],
       [   36,   128]])
       
       
from sklearn.metrics import plot_confusion_matrix
plot_confusion_matrix(model, X_test, y_test)

NameError: name 'array' is not defined